In [9]:
import dash_bootstrap_components as dbc
import pandas as pd
from dash import  dcc, Input, Output, html,ctx
import dash
import plotly.express as px
import plotly.graph_objects as go
import yfinance as yahooFinance
import datetime
import yfinance as yf
from datetime import datetime

In [10]:
output=pd.read_csv('output.csv',index_col=0)

In [11]:
def convert_datetime(dt):
    return datetime.strftime(dt,'%Y-%m-%d')
pricedata=pd.DataFrame(columns=['Date','Adj Close','Ticker'])
tickers = ['AMG','BMY','KO','HON','NEE','OMC','PHM','SLG','WMB']

In [12]:
for i in tickers:
    new = yf.download(i, start='2014-01-01', end='2023-01-30')
    new=new['Adj Close']
    new=new.reset_index()
    new['Date']= new['Date'].apply(convert_datetime)
    new['Ticker']=i
    pricedata = pd.concat([pricedata,new])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [13]:
output=pd.read_csv('output.csv',index_col=0)

In [14]:
output['T+D']=output['Timestamp']+output['Ticker']
pricedata['T+D']=pricedata['Date']+pricedata['Ticker']
pricedata=pricedata.drop(columns=['Date','Ticker'])

In [15]:
output=output.merge(pricedata,left_on="T+D",right_on="T+D",how="left")
output.drop(columns=['T+D'],inplace=True)

In [16]:
output

,Unnamed: 0,Timestamp,Ticker,ISIN,Company_Name,GICS Sector,SDG_1,SDG_2,SDG_3,SDG_4,...,SDG_10_News_Volume,SDG_11_News_Volume,SDG_12_News_Volume,SDG_13_News_Volume,SDG_14_News_Volume,SDG_15_News_Volume,SDG_16_News_Volume,SDG_17_News_Volume,SDG_News_Volume_Mean,Adj Close
0,39589,2013-04-01,AMG,US0082521081,affiliated managers group inc,Financials,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,39590,2013-04-02,AMG,US0082521081,affiliated managers group inc,Financials,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,39591,2013-04-03,AMG,US0082521081,affiliated managers group inc,Financials,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,39592,2013-04-04,AMG,US0082521081,affiliated managers group inc,Financials,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,39593,2013-04-05,AMG,US0082521081,affiliated managers group inc,Financials,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32386,2184588,2023-02-02,WMB,US9694571004,williams companies inc,Energy,NaN,NaN,0.565371,0.565371,...,7.0,4.0,6.0,1.0,NaN,1.0,4.0,NaN,3.25,NaN
32387,2184589,2023-02-03,WMB,US9694571004,williams companies inc,Energy,NaN,NaN,0.629811,0.629811,...,1.0,1.0,NaN,1.0,NaN,1.0,1.0,NaN,1.00,NaN
32388,2184590,2023-02-04,WMB,US9694571004,williams companies inc,Energy,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32389,2184591,2023-02-05,WMB,US9694571004,williams companies inc,Energy,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32390,2184592,2023-02-06,WMB,US9694571004,williams companies inc,Energy,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN